[Unit]
Description=Powerpal BLE Site
After=network-online.target bluetooth.service
Wants=network-online.target

[Service]
Type=simple
User=sek0002
WorkingDirectory=/opt/powerpal-ble-site
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/env python3 -m uvicorn main:app --host 0.0.0.0 --port 8002
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
